<h3>Notes</h3>
<div class="notesReel">
	<ul class="notesList">
		<% _.each(notes, function(note) { %>
			<li class="notesListItem">
				<div class="the-note">
					<span class="note-content"><%= note.get('note') %></span>
				</div>
				<% if (note.get('tags').length > 0) { %>
					<div class="note-tags">
	                	<span class="tags-label">tags:</span> <% _.each(note.get('tags'), function(tag) { %><%= tag %> <% }); %>
	                </div>
				<% } %>
				<div class="note-buttons">
					<a href="#" class="noteLink" data-content_id="<%= note.get('content_id') %>">Link</a>
					<!-- <a href="#" class="noteEdit" data-content_id="<%= note.get('content_id') %>">Edit</a> -->
				</div>
			</li>
		<% }); %>
	</ul>
</div>