<div id="search-header">
	<h3>Search</h3>
	<div id="search-box">
		<form id="search-form" name="search-form" method="POST">
			<input type="text" name="keyword" id="search-keyword" placeholder="search" value="<%= query.keyword %>"/>
			<input type="hidden" name="page" id="search-page" />
		</form>
	</div>
	<div id="search-filters">
		<div class="label">Filter |</div>
		<ul>
			<li class="filter" data-filter="type:content" id="search-filter-content"><div class="dot">&nbsp;</div><div class="label">Content</div></li>
			<li class="filter" data-filter="type:notes" id="search-filter-notes"><div class="dot">&nbsp;</div><div class="label">My Notes</div></li>
			<li class="filter" data-filter="type:footnotes" id="search-filter-footnotes"><div class="dot">&nbsp;</div><div class="label">Footnotes</div></li>
			<li class="filter" data-filter="type:figures" id="search-filter-figures"><div class="dot">&nbsp;</div><div class="label">Figures</div></li>
		</ul>
	</div>
</div>
<div id="search-results-wrapper"></div>