<html>
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel='apple-touch-icon' href='img/icon-app-57.png' />
	<link type="text/css" rel="stylesheet" href="css/common.css">
	<link type="text/css" rel="stylesheet" href="css/toolbar.css">
	<link type="text/css" rel="stylesheet" href="css/section.css">
	<link type="text/css" rel="stylesheet" href="css/multiColumnSection.css">
	<link type="text/css" rel="stylesheet" href="css/search.css">
	<link type="text/css" rel="stylesheet" href="css/navigation.css">
	<script src="js/external/json2.js"></script>
	<script src="js/external/jquery-1.7.1.js"></script>
	<script src="js/external/underscore-1.3.1.js"></script>
	<script src="js/external/backbone.js"></script>
	<script src="js/backbone/devel.js"></script>
	<script src="js/backbone/TemplateManager.js"></script>
	<script src="js/backbone/models/BaseModel.js"></script>
	<script src="js/backbone/models/ConfigModel.js"></script>
	<script src="js/backbone/models/PackageModel.js"></script>
	<script src="js/backbone/models/FigureModel.js"></script>
	<script src="js/backbone/models/FootnoteModel.js"></script>
	<script src="js/backbone/models/NavigationItemModel.js"></script>			
	<script src="js/backbone/models/NoteModel.js"></script>
	<script src="js/backbone/models/SearchResultModel.js"></script>
	<script src="js/backbone/models/AccountModel.js"></script>
	<script src="js/backbone/models/PageModel.js"></script>
	<script src="js/backbone/models/SectionModel.js"></script>
	<script src="js/backbone/collections/BaseCollection.js"></script>	
	<script src="js/backbone/collections/FiguresCollection.js"></script>
	<script src="js/backbone/collections/NavigationItemsCollection.js"></script>
	<script src="js/backbone/collections/FootnotesCollection.js"></script>
	<script src="js/backbone/collections/NotesCollection.js"></script>
	<script src="js/backbone/collections/PagesCollection.js"></script>
	<script src="js/backbone/collections/SearchResultsCollection.js"></script>
	<script src="js/backbone/views/BaseView.js"></script>
	<script src="js/backbone/views/AppView.js"></script>
	<script src="js/backbone/views/SectionView.js"></script>
	<script src="js/backbone/views/PageView.js"></script>
	<script src="js/backbone/views/MultiColumnSectionView.js"></script>
	<script src="js/backbone/views/MultiColumnPageView.js"></script>
	<script src="js/backbone/views/ToolbarView.js"></script>
	<script src="js/backbone/views/ToolbarItemView.js"></script>
	<script src="js/backbone/views/NavigationView.js"></script>
	<script src="js/backbone/views/SearchView.js"></script>
	<script src="js/backbone/views/SearchResultsView.js"></script>
	<script src="js/backbone/views/SearchResultView.js"></script>
	<script src="js/backbone/views/NotesView.js"></script>
	<script src="js/backbone/views/FiguresView.js"></script>	
	<script src="js/backbone/views/TocView.js"></script>
	<script src="js/backbone/views/AccountView.js"></script>
	<script src="js/backbone/views/FontView.js"></script>
	<script src="js/backbone/Router.js"></script>	
	<script src="js/backbone/helper.js"></script>	
	<script src="js/appBootstrap.js"></script>
	
	<script>jQuery(function() { 
			app.bootstrap({
				packageUrl: 'sample/package.opf', 
				endpoints: {
					'OsciTkNotes': '/api/notes/',
					'OsciTkNote': '/api/notes/',
					'OsciTkSearch': '/api/search/',
					'OsciTkOpenSearch': '/api/opensearch/',
					'OsciTkAccount': '/api/users/'					
				},
				toolbarItems: [
					{view: 'Toc', text: 'ToC'},
					{view: 'Notes', text: 'Notes'},
					{view: 'Figures', text:' Figures'},
					{view: 'Search', text: 'Search'},
					{view: 'Font', text: 'Font'},
					{view: 'Account', text: 'Account'}
				],
				sectionView: 'MultiColumnSection',
				sectionViewOptions: {
					minColumnWidth : 200,
					maxColumnWidth : 300,
					gutterWidth : 40,
					minLinesPerColumn : 5
				}
			});
			app.run();
		});
	</script>
</head>
<body>
	<script id="template-app" type="text/template"></script>
	<script id="template-toolbar" type="text/template">
		<div id="toolbar-close">Close</div>
		<div id="toolbar-content"></div>
		<div id="toolbar-handle"></div>
	</script>
	<script id="template-toolbar-item" type="text/template"><%= text %></script>
	<script id="template-section" type="text/template"></script>
	<script id="template-page" type="text/template"><%= content %></script>
	<script id="template-multi-column-page" type="text/template"></script>
	<script id="template-multi-column-column" type="text/template">
		<div class="column"></div>
	</script>
	<script id="template-figure-reference" type="text/template">
		<a href="#<%= id %>" class="figure_reference"><%= title %></a>
	</script>
	<script id="template-search" type="text/template">
		<div id="search-header">
			<div id="search-box">
				<form id="search-form" name="search-form" method="POST">
					<input type="text" name="keyword" id="search-keyword" placeholder="search" value="<%= query %>"/>
					<input type="hidden" name="page" id="search-page" />
				</form>
			</div>
		</div>
		<% if (searchResults.length > 0) { %>
			<div id="search-summary">Result(s) for "<%= searchResults.keyword %>" (<%= searchResults.length %>)</div>
			<div id="search-sort">
				Sort By: 
				<div id="search-sort-relevance" data-selected="0">Relevance</div>
				<div id="search-sort-type" data-selected="0">Type</div>
			</div>
			<div id="search-results">
				<ul>
					<% _.each(searchResults.models, function(result) { %>
						<% if (result.get('bundle') === 'note') { %>
							<li>
								<%= result.get('bundle_name') %> 
								sec.<%= result.get('im_field_section')[0] %> p.<%= result.get('is_paragraph_id') %> - 
								<%= result.get('ss_body') %>
							</li>
						<% } else { %>
							<li><%= result.get('bundle_name') %> - <%= result.get('ss_body') %></li>
						<% } %>
					<% }); %>
				</ul>
			</div>
		<% } %>
	</script>
	<script id="template-search-results" type="text/template">
		<div id="search-summary">Result(s) for "<%= keyword %>" (<%= result_count %>)</div>
		<div id="search-sort">
			Sort By: 
			<div id="search-sort-relevance" data-selected="0">Relevance</div>
			<div id="search-sort-type" data-selected="0">Type</div>
		</div>
		<div id="search-results"><%= search_results %></div>
	</script>
	<script id="template-search-result" type="text/template">
		<div class="search-result-title"><%= title %></div>
		<div class="search-result-type type-<%= type %>"><%= type %></div>
		<div class="search-result-content"><%= content %></div>
	</script>
	<script id="template-reader" type="text/template"></script>
	<script id="template-toolbar-item" type="text/template">
		<%= text %>
	</script>
	<script id="template-section" type="text/template">
		<%= body %>
	</script>
	<script id="template-navigation" type="text/template">
		<p>navigation goes here <%= numPages %><p>
	</script>
	<script id="template-reader" type="text/template">
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
	</script>
	<script id="template-notes" type="text/template">
		<h2>Notes</h2>
		<ul>
			<% _.each(notes, function(note) { %>
				<li>
					<p>P#<%= note.paragraph_id %> - <%= note.note %><br>
					<% if (note.tags.length > 0) { %>
						<small>tags: <% _.each(note.tags, function(tag) { %><%= tag %> <% }); %></small>
					<% } %>
					</p>
				</li>
			<% }); %>
		</ul>
	</script>
	<script id="template-figures" type="text/template">
		<div class='figure-browser'>
			<h2>Figures</h2>
			<div class='figure-tray'>
				<div class='figure-reel'>
					<% _.each(figures, function(figure) { %>
						<figure class='thumbnail' data-figure-id="<%= figure.id %>">
							<div class='figure-thumbnail' style="background-image: url('<%= figure.thumbnail_url %>');" >&nbsp;</div>
							<figcaption><%= figure.title %></figcaption>
						</figure>
					<% }); %>
				</div>
			</div>
		</div>
		<div class='figure-previews'>
			<div class='figure-nav prev' title='Previous figure'>&lt;</div>
			<div class='figure-nav next' title='Next Figure'>&gt;</div>

			<h2><span class='back-to-grid'>&laquo; Figures</span> | <span class='title'>Fig x.y - Figure title text?</span></h2>
			<div class='figure-tray'>
				<div class='figure-reel'>
					<% _.each(figures, function(figure) { %>
						<figure class='preview' data-figure-id="<%= figure.id %>">
							<div class='figure-preview' style="background-image: url('<%= figure.preview_url %>');" >&nbsp;</div>
							<div class='figure-info'>
								<h3 class='title'>Figure Title Here</h3>
								<p class='meta-info'>meta info | more meta info</p>
								<p class='description'>
								First, I believe that this nation should commit itself to achieving the goal, before this decade is out, of landing a man on the moon and returning him safely to the earth. No single space project in this period will be more impressive to mankind, or more important for the long-range exploration of space; and none will be so difficult or expensive to accomplish.
								</p>
							</div>
						</figure>
					<% }); %>
				</div>
			</div>
		</div>
	</script>
	<script id="template-toc" type="text/template">
		<h2>Table of Contents</h2>
		<ul>
			<% _.each(items, function(item) { %>
				<li class="toc-item">
					<a data-section-id="<%= item.id %>">
						<div class="toc-item-thumbnail">
							<% if (item.get('thumbnail')) { %>
								<img src="<%= item.get('thumbnail') %>">
							<% } %>
						</div>
						<div class="toc-item-text">
							<h4><%= item.get('title') %></h4>
							<% if (item.get('subtitle')) { %>
								<h5><%= item.get('subtitle') %></h5>
							<% } %>
						</div>
					</a>
				</li>
			<% }); %>
		</ul>
	</script>
	<script id="template-account-login" type="text/template">
		<h2>Login</h2>
		<div class="form-error"></div>
		<form id="account-form">
			<label for="username">Username:</label>
			<input type="text" id="username" placeholder="Username" />
			<label for="password">Password:</label>
			<input type="password" id="password" placeholder="Password" />
			<button type="button" class="login">Log In</button>
			<div><a href="#" class="register">Register an account</a></div>
		</form>
	</script>
	<script id="template-account-register" type="text/template">
		<h2>Register</h2>
		<div class="form-error"></div>
		<form id="account-form">
			<label for="username">Username:</label>
			<input type="text" id="username" placeholder="Username" />
			<label for="password">Password:</label>
			<input type="password" id="password" placeholder="Password" />
			<label for="email">Email:</label>
			<input type="text" id="email" placeholder="Email" />
			<button type="button" class="register">Register</button>
			<div><a href="#" class="login">Already have an account?</a></div>
		</form>
	</script>
	<script id="template-account-profile" type="text/template">
		<h2>Profile</h2>
		<h3><%= username %></h3>
		<h4><%= email %></h4>
		<div><a href="#" class="logout">Log out</a></div>
	</script>
	<script id="template-font" type="text/template">
		<div class="font-control"><span class="large">+A</span> <span class="small">-A</span></div>
	</script>
</body>
</html>
