.buildpath
.project
.settings
.nbproject
/nbproject/*
frontend/sample/images/.DS_Store
.DS_Store

authoring_tools/modules/osci_tk_features/.DS_Store

frontend/js/external/fancybox/.DS_Store

frontend/img/_notes/bg-pager-arrow-next.png.mno

frontend/img/_notes/bg-pager-arrow-prev.png.mno
