body {
	margin: 0;
}

a {
	color:#52818C;
}

/* apply a natural box layout model to all elements */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#reader {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.title-view {
	margin:0;padding:0;
	height:50px;display:block;
	background: url('../img/logo-osci-1.png') no-repeat 10px center transparent;
}
.title-view h1 {
	line-height:50px;
	font-size:17px;
	color:#52818C;
	padding-left:120px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.page p {
	line-height:1.5em;
}

.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

a.figure_reference {

}
a.footnote-reference {
	vertical-align:super;
	font-size:10px;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}


/* figure tables */
.figure_content table {
	width:100%;
}
.figure_content table thead{

}
.figure_content table thead tr {

}
.figure_content table thead th {
	text-align:left;
	padding:5px;
}

.figure_content table tbody {

}
.figure_content table tbody tr {

}
.figure_content table tbody tr:nth-child(odd) {
	background: #eee;
}
.figure_content table tbody td {
	padding:5px;
}

/* paragraph number controls */
.paragraph-controls {
	font-size:11px!important;
}
.paragraph-controls.notes-present span {
	padding:2px 5px;background:#EBE8C1;color:#333;
}
.paragraph-controls span {
	padding:2px 5px;
}
.paragraph-controls.notes-present:after {
	/*content: url('../img/bg-note-indicator.png');
	display:block;
	position:relative;
	bottom:0px;
	left:0px;*/
}

/* tooltips */
.toggleNoteDialog, .toggleCiteDialog {
	line-height:16px;height:16px;
	vertical-align:center;
	text-shadow:0 1px 1px rgba(255,255,255,.8);
	text-transform:uppercase;
	text-decoration:none;
	padding:0 5px 0 18px;
}
.toggleNoteDialog {
	display:inline-block;

	background: url('../img/icon-note-mini.png') no-repeat left center;
	margin-bottom:8px;
}
.toggleCiteDialog {
	display:inline-block;

	background: url('../img/icon-cite-mini.png') no-repeat left center;
}
.ui-tooltip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;


}
.ui-tooltip .ui-tooltip-tip {
	background: url('../img/bg-toolbar.gif') repeat!important;
	display:none!important;
}
.ui-tooltip, .qtip {
	max-width:auto!important;

	margin-left:-10px;
}

.ui-tooltip, .qtip {
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;
	max-width: 280px;
	min-width: 50px;
	font-size: 10.5px;
	line-height: 12px;
	border-width: 1px;
	border-style: solid;
	background: url('../img/bg-toolbar.gif') repeat;
	border-radius:6px;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
}
.ui-tooltip-content {
	background: url('../img/bg-toolbar.gif') repeat;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding:10px;
}
.ui-tooltip.qtip .ui-tooltip-titlebar {
	font-size:14px;text-transform:uppercase;
	border-bottom:3px solid #999;
	margin: 10px 10px 5px 10px;
	padding:5px 0 5px 0;
	font-family:Arial, Helvetica, sans-serif;
}

/* paragraph control tooltips */
.paragraph-controls .ui-tooltip, .paragraph controls .qtip {
	box-shadow:none;border:none;
}
.paragraph-controls .ui-tooltip.qtip {
	border-radius:4px!important;

}
.paragraph-controls .ui-tooltip-content {
	padding:6px;
	word-wrap:normal!important;
	box-shadow: none !important;
	border:1px solid #f2f2f2;
	border-radius:4px!important;
}


/* blah */


/* misc */
.fancybox-close {
	top: 0px!important;
	right: 0px!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }


