body {
	margin: 0;
}

a {
	color:#52818C;	
}

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

reader {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}


figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.title-view {
	margin:0;padding:0;
	height:40px;display:block;
	background: url('../img/logo-osci-1.png') no-repeat 10px center transparent;
}
.title-view h1 {
	line-height:40px;
	font-size:17px;
	color:#52818C;
	padding-left:120px;
	font: Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
}
.page p {
	line-height:1.5em;	
}

.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}


/* misc */
.fancybox-close {
	top: 0px!important;
	right: 0px!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }


