body {
	margin: 0;
}

a {
	color:#52818C;	
}

/* apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

reader {
	position: relative;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}


figcaption {
	padding-top:10px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.title-view {
	margin:0;padding:0;
	height:50px;display:block;
	background: url('../img/logo-osci-1.png') no-repeat 10px center transparent;
}
.title-view h1 {
	line-height:50px;
	font-size:17px;
	color:#52818C;
	padding-left:120px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
}

.page {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;	
}
.page p {
	/*line-height:1.5em;*/
}

.paragraph-controls {
	color: #BACCD1;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}

a.figure_reference {
	
}
a.footnote-reference {
	vertical-align:super;
	font-size:10px;
	margin-right:10px;
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
}


/* figure tables */
.figure_content table {
	width:100%;
}
.figure_content table thead{
	
}
.figure_content table thead tr {
	
}
.figure_content table thead th {
	text-align:left;
	padding:5px;
}

.figure_content table tbody {
	
}
.figure_content table tbody tr {
	
}
.figure_content table tbody tr:nth-child(odd) {
	background: #eee;	
}
.figure_content table tbody td {
	padding:5px;
}

/* paragraph number controls */
.paragraph-controls {
	font-size:11px!important;	
}
.paragraph-controls.notes-present span {
	padding:2px 5px;background:#EBE8C1;color:#333;
}
.paragraph-controls.notes-present:after {
	/*content: url('../img/bg-note-indicator.png');
	display:block;
	position:relative;
	bottom:0px;
	left:0px;*/
}

/* tooltips */
.ui-tooltip-content {
	position: relative;
	padding: 5px 9px;
	overflow: hidden;
	text-align: left;
	word-wrap: break-word;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 1px 4px #666;
}
.ui-tooltip .ui-tooltip-tip {
	background-color:#fff!important;
}
.ui-tooltip, .qtip {
	max-width:auto!important;
	background: #fff!important;	
}


/* misc */
.fancybox-close {
	top: 0px!important;
	right: 0px!important;
	opacity:.4;
}
.fancybox-close:hover { opacity: 1; }


