div.layered_image-asset * {
    line-height: 100%;
}

div.layered_image-asset {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 100%;
	background: #FFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	user-select: none;
}

div.layered_image-asset .ui-slider-handle {
    outline: none;
}

.ca-ui-controlbar {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 50px;
	background: #000;
	margin: 0;
	opacity: 0.85;
    display: none;
}

.ca-ui-annotation {
	float: right;
	width: 50px;
	height: 50px;
	background: url('../img/icon-annotation.png') center no-repeat;
	border-right: 1px solid #888;
	display: none;
}

.ca-ui-annotation.active {
	background-color: #444;
}

.ca-ui-reset {
	float: right;
	width: 50px;
	height: 50px;
	background: url('../img/icon-reset.png') center no-repeat;
	border-right: 1px solid #888;
}

.ca-ui-fullscreen {
	float: right;
	width: 50px;
	height: 50px;
}

.ca-ui-layer {
	padding: 5px 5px 5px 5px;
	float: right;
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	border-right: 1px solid #888;
}

.ca-ui-layer span {
	display: inline-block;
	float: left;
	vertical-align: middle;
	text-align: center;
	padding: 4px 8px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 20px;
}

.ca-ui-down-arrow {
	background: url('../img/icon-down-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

.ca-ui-right-arrow {
	background: url('../img/icon-right-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

.ca-ui-fullscreen.collapsed {
	background: url('../img/icon-fullscreen.png') center no-repeat;
}

.ca-ui-fullscreen.expanded {
	background: url('../img/icon-collapse.png') center no-repeat;
}

.ca-ui-zoom {
	position: absolute;
	top: 0;
	right: 0;
	background: #000;
	opacity: 0.85;
	width: 50px;
    display: none;
}

.ca-ui-zoom-in {
	background: url('../img/icon-zoom-in.png') center no-repeat;
	width: 50px;
	height: 50px;
	border-bottom: 1px solid #888;
}

.ca-ui-zoom-out {
	background: url('../img/icon-zoom-out.png') center no-repeat;
	width: 50px;
	height: 50px;
}

.ca-ui-zoom-slider {
	display: none;
}

/* Not using zoom slider
.ca-ui-zoom-slider {
	height: 75px;
	width: 5px;
	background: #444;
	margin: 10px auto;
	display: none;
}

.ca-ui-zoom-slider .ui-slider-handle {
	width: 12px;
	height: 6px;
	background: #ccc;
	left: -4px;
	margin-bottom: -5px;
}
*/

/* ViewFinder */

.ca-ui-viewfinder {
	position: absolute;
	top: 0;
	left: 0;
    display: none;
}

.ca-ui-viewfinder.viewfinder-open {
	width: 100px;
	background: transparent;
	height: 100px;
	background: #000 url('../img/icon-viewfinder-small-rev.png') bottom right no-repeat;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
}

.ca-ui-viewfinder.viewfinder-closed {
	width: 50px;
	height: 50px;
	background: #000 url('../img/icon-viewfinder-big-rev.png') center no-repeat;
	opacity: 0.85;
}

.ca-ui-viewfinderLayer {
	position: absolute;
	top: 0;
	left: 0;
}

.ca-ui-viewfinderLayer img {
	width: 100%;
}

.ca-ui-viewfinder-viewport {
	position: absolute;
	border: 1px solid red;
}

.ca-ui-legend {
	position: absolute;
	top: 0;
	right: 55px;
    background: #000;
    opacity: 0.85;
    color: #fff;
    display: block;
}

.ca-ui-legend ul {
    list-style: none;
    margin: 0 !important;
	padding: 7px 7px 7px 7px !important;  
}

.ca-ui-legend li {
    padding: 5px 0 5px 0 !important;
}

.ca-ui-legend .item-box {
	float: left;
	height: 6px;
	width: 12px;
	margin-top: 2px;
    margin-right: 5px;
}

.ca-ui-fullscreen-modal {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9990;
    background: lightgray;
}

.ca-ui-fullscreen-wrap {
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -moz-box-shadow: 0 0 5px 5px #000;
    -webkit-box-shadow: 0 0 5px 5px #000;
    box-shadow: 0 0 5px 5px #000;
}

.ca-ui-fullscreen-wrap {
	position: absolute;
	top: 26px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*-moz-box-shadow: 5px 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px 5px #000;*/
    box-shadow: 0 0 5px 5px #000;
}

.ca-ui-fullscreen-wrap figcaption {
    background: #000;
    color: #DDD;
    padding: 5px;
}

.ca-ui-fullscreen-wrap figcaption span {
    padding-left: 5px;
}

.ca-ui-fullscreen-wrap figcaption p {
    display: inline;
    padding-left: 10px;
    padding-right: 20px;
}

.ca-ui-fullscreen-wrap figure {
	margin: 0;
}

.ca-ui-annotation-selector {
	position: absolute;
	background: #000;
	margin: 0;
	background-color: #444;
	opacity: 0.85;
	padding: 3px 5px 0 5px;
	color: #fff;
}

.ca-ui-annotation-selector .title {
	font-weight: bold;
}

.ca-ui-annotation-selector-list {
	list-style: none;
	padding: 7px 0 10px 0;
}

.ca-ui-annotation-selector-list li {
	height: 15px;
	font-size: 12px;
}

.ca-ui-annotation-selector-list li span {
	float: left;
	padding-left: 5px;
	text-align: center;
}

.ca-ui-annotation-selector-list hr {
	border: 1px solid gray;
	height: 0;
}

.ca-ui-annotation-selector-item-box {
	float: left;
	height: 11px;
	width: 11px;
	border: 1px solid #fff;
	text-align: center;
}

.ca-ui-annotation-selector-item-box.empty {
	background-color: #000;
}

.ca-ui-annotation-selector-item-box.filled {
	background-color: #fff;
}

.ca-ui-layer-selector-popup {
	position: absolute;
	background: #000;
	opacity: 0.85;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.ca-ui-layer-selector-popup hr {
	border: 1px solid gray;
	height: 0;
}

.ca-ui-layer-selector-popup ul {
	list-style: none;
	margin: 0 !important;
	padding: 10px 10px 10px 10px !important;
}

.ca-ui-layer-selector-popup li {
	color: #fff;
	height: 15px;
	font-size: 11px;
}

.ca-ui-layer-selector-popup span {
	float: left;
	padding-left: 5px;
	text-align: center;
}

.ca-ui-layer-slider-container {
	padding: 11px 12px 12px;
	float: right;
	min-width: 50px;
    max-width: 100px;
	border-right: 1px solid #888;
}

.ca-ui-layer-slider {
	height: 5px;
	min-width: 25px;
    max-width: 50px;
	background: #444;
}

.ca-ui-layer-slider .ui-slider-handle {
	width: 7px;
	height: 12px;
	background: #ccc;
	margin-top: -1px;
    margin-left: -4px;
}

/* for ca node edit form */
.ca-edit-color {
    float:left;
    margin-left: 10px;
    height: 12px;
    width: 40px;
    font-size: 10px;
    border: 1px solid #888;
}

div[class$="annotation-flag"] {
    float:left;
}

.thumbContainer img {
    padding: 5px 0;
}

img.image_opaque { 
	filter: alpha(opacity=50) !important;
    -moz-opacity: 0.50 !important; 
    opacity: 0.50 !important;
}
