* {
	margin: 0;
	padding: 0;
}

#section.oscitk_multi_column {
	margin: 60px 40px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}

#section.oscitk_multi_column img {
	max-width: none;
}

.page {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.column {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}

#pages .page { overflow:hidden; }

/* a line height must be set for proper calculations */
.page, .column, .column * {
	line-height: 1.5em;

}

.column p {
	text-align: justify;
	margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5 {
	margin-bottom: 1em;
}

#section.oscitk_multi_column figure {
	position: absolute;
}

#section.oscitk_multi_column figure .figure_content {
	overflow: hidden;
}

.paragraph-controls {
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 5px 10px 0 0;
	text-align: right;
	font-size: 80%;
}

