#navigation {
	font-family: sans-serif;
	font-size: 0.8em;
	position: absolute;
	bottom: 20px;
	left: 40px;
	right: 40px;
	height: 30px;
}

#navigation .header {
	width: 100%;
	text-align: center;
	position:absolute;
	top:10px;
	color:#666;
}
#navigation .header:hover { color:#333; }

#navigation .prev-page.side {
	left: 0px;
	text-align:center;
}

#navigation .next-page.side {
	right: 0px;
	text-align:center;
}


#navigation .side .indicator {
	position: absolute;	
	top: 50%;
	/*text-align: center;*/
	text-indent:100%;overflow:hidden;
	height:28px;
	width:40px;
}

#navigation .prev-page.side .indicator {
	background: url('../img/icon-nav-arrow-left.png') no-repeat center top;
	opacity:.4;
}

#navigation .next-page.side .indicator {
	background: url('../img/icon-nav-arrow-right.png') no-repeat center top;
	opacity:.4;
}
#navigation .next-page.side:hover .indicator, #navigation .prev-page.side:hover .indicator {
	opacity:1;
}

#navigation .side {
	position: fixed;
	top: 0px;
	height: 100%;
	color: #ccc;
	cursor: pointer;	
	width: 40px;
}

#navigation .side:hover {
	color: #888;
}

#navigation .side.inactive {
	display: none;
}

#navigation .prev-page.corner {
	position: absolute;
	top: 50%;
	left: 0px;
}

#navigation .next-page.corner {
	position: absolute;
	top: 50%;
	right: 0px;
}

#navigation .corner {
	cursor: pointer;
}

#navigation .label {
	text-align: center;
	text-transform:uppercase;
	color:#52808C;
	font-size:10px;
	line-height:15px;
	opacity:.4;
	
}
#navigation .corner:hover label { opacity:1; }

#navigation .button {
	height: 6px;
	width: 100px;
}
#navigation .button:hover {
	
}

#navigation .corner.inactive {
	color: #ccc;
	cursor: auto;
}

#navigation .corner.inactive .button {
	
}
.prev-page .button {
	background: url('../img/bg-pager-arrow-prev.png') no-repeat left -6px #A8C0C5;
}
.next-page .button {
	background: url('../img/bg-pager-arrow-next.png') no-repeat right -6px #A8C0C5;
}
.prev-page:hover .button{
	background: url('../img/bg-pager-arrow-prev.png') no-repeat left top #52818C;
}
.next-page:hover .button {
	background: url('../img/bg-pager-arrow-next.png') no-repeat right top #52818C;
}
#navigation .corner.inactive.prev-page .button {
	background: url('../img/bg-pager-arrow-prev.png') no-repeat left -12px #eee !important;
}
#navigation .corner.inactive.next-page .button {
	background: url('../img/bg-pager-arrow-next.png') no-repeat right -12px #eee !important;
}

#navigation .pager {
	position: absolute;
	bottom: -6px;
	right: 100px;
	left: 100px;
	height: 6px;
	background-color: #ddd;
	/*border-radius: 5px;	*/
	margin: 0px 20px;
}

#navigation .pager .head {
	position:absolute;
	left: 33%;
	width: 33%;
	height: 6px;
	top: 0px;
	background-color: #333;
	/*border: 1px solid black;*/
}

@media (max-width:600px) {
	#navigation .next-page.corner {
		display: none;
	}
	#navigation .prev-page.corner {
		display: none;
	}
	#navigation .pager {
		left: 0px;
		right: 0px;
	}
}