#navigation {
	font-family: sans-serif;
	font-size: 0.8em;
	position: absolute;
	bottom: 20px;
	left: 40px;
	right: 40px;
	height: 30px;
}

#navigation .header {
	width: 100%;
	text-align: center;
}

#navigation .prev-page.side {
	left: 0px;
	text-align:center;
}

#navigation .next-page.side {
	right: 0px;
	text-align:center;
}


#navigation .side .indicator {
	position: absolute;	
	top: 50%;
	/*text-align: center;*/
	text-indent:100%;overflow:hidden;
	height:28px;
	width:40px;
}

#navigation .prev-page.side .indicator {
	background: url('../img/icon-nav-arrow-left.png') no-repeat center top;
	opacity:.4;
}

#navigation .next-page.side .indicator {
	background: url('../img/icon-nav-arrow-right.png') no-repeat center top;
	opacity:.4;
}
#navigation .next-page.side:hover .indicator, #navigation .prev-page.side:hover .indicator {
	opacity:1;
}

#navigation .side {
	position: fixed;
	top: 0px;
	height: 100%;
	color: #ccc;
	cursor: pointer;	
	width: 40px;
}

#navigation .side:hover {
	color: #888;
}

#navigation .side.inactive {
	display: none;
}

#navigation .prev-page.corner {
	position: absolute;
	top: 50%;
	left: 0px;
}

#navigation .next-page.corner {
	position: absolute;
	top: 50%;
	right: 0px;
}

#navigation .corner {
	cursor: pointer;
}

#navigation .label {
	text-align: center;
}

#navigation .button {
	height: 6px;
	width: 100px;
	background-color: #A8C0C5;
	/*border-radius: 5px;*/
}
#navigation .button:hover {
	background:#52818C;	
}

#navigation .corner.inactive {
	color: #ccc;
	cursor: auto;
}

#navigation .corner.inactive .button {
	background-color: #ccc;
}
.prev-page .button {
	background: url('../img/bg-pager-arrow-prev.png') no-repeat left top #A8C0C5;
}
.next-page .button {
	background: url('../img/bg-pager-arrow-next.png') no-repeat right top #A8C0C5;
}

#navigation .pager {
	position: absolute;
	bottom: -6px;
	right: 100px;
	left: 100px;
	height: 6px;
	background-color: #ccc;
	/*border-radius: 5px;	*/
	margin: 0px 20px;
}

#navigation .pager .head {
	position:absolute;
	left: 33%;
	width: 33%;
	height: 8px;
	top: -1px;
	background-color: #333;
	/*border: 1px solid black;*/
}

