.note-tooltip textarea {
	background-color: #FFFFA3;
	border: none;
}
ul.notesList {
	list-style-type: none;
}
ul.notesList li {
	padding-bottom: 10px;
	display:inline-block;
	width:140px;
	vertical-align:top;
	margin-right:20px;
	font-size:13px;
}
.the-note {
	width:140px;max-height:140px;
	background:#FAFA9F;
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	
}
.note-content {
	padding:5px;
	overflow:hidden;max-height:130px;
	display:block;	
}
.note-tags {
	padding-top:10px;	
}
.note-buttons {
	padding-top:10px;	
}
ul.notesList li a {
	padding-right: 10px;
}
.notes-present {
	/*background-color: #F00;*/
}
.noteLink.onCurrentPage {
	background-color: red;
}
a.noteLInk, a.noteEdit {
	font-size:12px;text-transform:uppercase;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);	
}
a.noteLink {
	background: url('../img/icon-link-16.png') no-repeat left top;
	padding-left:22px;
}
a.noteEdit {
	background: url('../img/icon-edit-16.png') no-repeat left top;
	padding-left:22px;
}