.note-tooltip textarea {
	background-color: #FFFFA3;
	border: none;
	width:100%;
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
	margin-bottom:10px;
	padding:5px;
	max-width:100%;
	min-height:100px;
	font-size:12px;
}
.note-tooltip textarea:focus {
	border:none!important;outline:none!important;
	box-shadow: 0 1px 3px rgba(0,0,0,.8);
}
.note-tooltip .reference-text-content {
	max-height:80px;
	overflow:auto;

	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

		/* Shadows */
		radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: #ccc;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;

	display:block;
	margin-bottom:10px;
	line-height:1.2;
	font-size:12px;
	text-shadow: 0 1px 0px rgba(255,255,255,.6);
}

.ui-tooltip-titlebar .ui-state-default {
	top:10px!important;border:none !important;right:0px!important;
}
.ui-tooltip-icon .ui-icon {
	width: 14px!important;
	height: 14px;
	text-align: center;
	text-indent: 0;
	font: normal bold 10px/13px Tahoma,sans-serif;

	/*background: transparent none no-repeat -100em -100em;*/
	background: rgba(0,0,0,.3)!important;
	border-radius:14px!important;
	color:#fff!important;
	border:none!important;
}
.ui-tooltip-icon .ui-icon:hover {
	background: rgba(0,0,0,.7)!important;
}

.note-tooltip .reference-text-label {
	font-weight:bold;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:2px solid #999;
	margin-bottom:5px;
	display:block;
}
.note-tooltip .status, .citation-tooltip .status {
	text-align:right;
	opacity:.8;
	font-family:Arial, Helvetica, sans-serif;
}
.notesReel {
	overflow-y: hidden;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	height: 180px;
}
ul.notesList {
	list-style-type: none;
	height: 180px;
}
ul.notesList li {
	padding-bottom: 10px;
	display:block;
	float:left;
	width:180px;
	vertical-align:top;
	margin-right:20px;
	font-size:13px;
}
.the-note {
	width:180px;height:140px;
	background:#FAFA9F;
	/*box-shadow: 0 1px 4px rgba(0,0,0,.4);*/
	position:relative;
}
.the-note:after {
	position:absolute;
	left:0px;bottom:0px;
	content:"";
	width:180px;height:40px;margin:0;padding:0;
	display:block;
	background: url('../img/bg-note-fade.png') repeat-x left bottom;
}

.note-content {
	padding:5px;
	overflow:hidden;max-height:130px;
	display:block;
}
.note-tags {
	margin-top:10px;
	padding:5px;
	background: rgba(255,255,255,.6);
}
.note-buttons {
	padding-top:10px;
}
.note-tags .tags-label {
	text-transform:uppercase;
	font-weight:bold;
}
ul.notesList li a {
	padding-right: 10px;
}
.notes-present {
	/*background-color: #F00;*/
}
.noteLink.onCurrentPage {
	background-color: red;
}
a.noteLInk, a.noteEdit {
	font-size:12px;text-transform:uppercase;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
	line-height:17px;
	display:inline-block;
	color:#666666;
	padding-left:22px;
}
a.noteLInk:hover, a.noteEdit:hover {
	color:#333;
}
a.noteLink {
	background: url('../img/icon-link-16.png') no-repeat left top;
}
a.noteEdit {
	background: url('../img/icon-edit-16.png') no-repeat left top;
}


