#search-view #search-header {
	padding-top: 0;
	padding-bottom: 15px;
}
#search-results-header {
	border-top: 5px solid #8c8c8c;
	padding-top: 20px;
}
#search-summary {
	font-size: 1.2em;
}
#search-summary #reset-search {
	text-decoration: none;
	font-size: 0.7em;
	float: right;
}
#search-summary #search-query {
	color: #000;
	font-style: italic;
}
#search-view #search-box {
	float: left;
	display: inline-block;
	padding-right: 20px;
}
#search-view #search-keyword {
	width: 300px;
	height: 30px;
	font-size: 1.2em;
	color: #999;
	padding: 10px 12px;
	border-radius: 25px;
}
#search-view #search-filters {
	height: 30px;
}
#search-view #search-filters div.label {
	float: left;
	padding-top: 5px;
}
#search-filter-content .dot {
	background-color: #52818c;
}
#search-filter-notes .dot {
	background-color: #e3e1b9;
}
#search-filter-footnotes .dot {
	background-color: #bdb231;
}
#search-filter-figures .dot {
	background-color: #999966;
}
#search-view #search-filters ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
#search-view #search-filters ul li {
	margin: 0 5px;
	padding: 5px 0;
	color: #FFF;
	border-radius: 15px;
	background-color: #333;
	text-align: center;
	width: 120px;
	height: 30px;
	float: left;
	text-transform: uppercase;
	font-size: .9em;
	cursor: hand;
}
#search-view #search-filters ul li.active {
	background-color: #dedede;
	color: #8c8c8c;
}
#search-view #search-filters ul li .dot {
	margin: 4px 0 0 8px;
	width: 13px;
	height: 13px;
	border-radius: 10px;
	float: left;
}
#search-view #search-filters ul li .label {
	float: left;
	padding-left: 5px;
	padding-top: 4px;
	font-size: 0.8em;
}
#results-sort {
	border-top: 1px solid #8C8C8C;
	height: 40px;
	background: #D7D7D7;
	margin: 10px 0;
	padding-top: 10px;
}
#results-sort ul {
	margin-left: 10px;
	display: inline;
}
#results-sort ul li {
	display: inline;
}
#results-sort a {
	font-size: 0.8em;
	text-decoration: none;
	color: #000;
}
#results-sort a.selected {
	text-decoration: underline;
}
#search-results {
	float: left;
	width: 100%;
}
#search-results-container {
	height: 100%;
}
#search-results-container #filter-by-section {
	float: left;
	width: 250px;
	margin-left: -100%;
}
#search-results-content {
	margin-left: 250px;
	height: 100%;
	overflow: auto;
}
#search-results .search-result {
	padding: 10px 5px;
}
#search-results .result-section {
	border-bottom: 1px solid #8C8C8C;
}
#search-results .result-section:nth-child(odd) {
	background-color: #b7b7b7;
}
.result-title {
	font-size: 0.9em;
	font-weight: bold;
	padding: 6px 0 0 5px;
}
.result-content .result-body {
	display:block;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	padding: 0 0 0 10px;
}
.result-type {
	padding: 2px 0;
	text-indent: 5px;
	float: left;
	text-transform: uppercase;
	display: inline-block;
	width: 80px;
	font-size: 0.7em;
	color: #FFF;
	border-radius: 25px;
}
.result-type.content {
	display: inline-block;
	background-color: #8fa6ac;
	text-align:center;
	font-size:11px;
	text-indent:0px;
}
.result-type.figure {
	display: inline-block;
	background-color: #999966;
	text-align:center;
	font-size:11px;
	text-indent:0px;
}
#filter-by-section .section-title {
	font-weight: bold;
}
#filter-by-section ul {
	margin-top: 10px;
	margin-right: 20px;
}
#filter-by-section ul li {
	padding: 10px 0;
	list-style-type: none;
	border-top: 1px solid #8C8C8C;
}