div#toolbar {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 80%;
	margin-top: -79%;
	background-color: black;
}
div#toolbar-content {
	background-color: #ccc;
	height: 100%;
	width: 100%;
}
div#toolbar-handle {
	height: 40px;
	position: absolute;
	bottom: -40px;
	right: 40px;
	background-color: #ccc;
}
div.toolbar-item {
	height: 35px;
	width: 50px;
}