div#toolbar {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 80%;
	min-height: 40px;
	overflow: hidden;
	
	font-family:Arial, Helvetica, sans-serif;

}
div#toolbar-content {
	position: absolute;
	bottom: 40px;
	left: 0px;
	background-color: #eee;
	width: 100%;
	padding: 0px 40px;
	overflow-y: auto;
	background: url('../img/bg-toolbar.gif') repeat;
}
#toolbar-handle {
	height: 40px;
	position: absolute;
	bottom: 0px;
	right: 40px;
	background: url('../img/bg-toolbar.gif') repeat;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#toolbar-close {
	z-index: 10;
	position: absolute;
	top: 10px;right: 50px;
	padding: 0px;
	cursor: pointer;
	height:30px;width:30px;overflow:hidden;
	
	overflow:hidden;text-indent:100%;white-space:nowrap;
	background: url('../img/bg-btn-close.png') no-repeat left top;
	opacity:.3;
}
#toolbar-close:hover {
	opacity:.7;cursor:pointer;	
}

#toolbar h2 {
	padding-bottom: 0.5em;
	border-bottom: 5px solid #8C8C8C;
}
div.toolbar-item {
	height: 35px;
	width: 50px;
	/*float: left;*/
	cursor: pointer;
	display:inline-block;
	top:0px;
	position:relative;
}
div.toolbar-item:after { 
	content:"";
	width:2px;height:35px!important;
	overflow:hidden;display:inline-block;
	white-space:nowrap;text-indent:100%;
	background: url('../img/bg-toolbar-divider.png') left center no-repeat;
	position:relative;
	margin:0px;padding:0px;
	vertical-align:middle;
	position:absolute;top:0px;
}
div.toolbar-item:first-child:after {
	display:none!important;	
}

div.Notes-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-notes.png') center center no-repeat;
}
div.Toc-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-toc.png') center center no-repeat;
}
div.Account-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-user.png') center center no-repeat;
}
div.Search-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-search.png') center center no-repeat;
}
div.Font-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-text.png') center center no-repeat;
}
div.Figures-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-figure.png') center center no-repeat;
}

div.Notes-toolbar-item,
div.Toc-toolbar-item,
div.Account-toolbar-item,
div.Search-toolbar-item,
div.Font-toolbar-item, 
div.Figures-toolbar-item {
	opacity:.7;
}
div.Notes-toolbar-item:hover,
div.Toc-toolbar-item:hover,
div.Account-toolbar-item:hover,
div.Search-toolbar-item:hover,
div.Font-toolbar-item:hover, 
div.Figures-toolbar-item:hover {
	opacity:1;
}

/* TOC VIEW */
div.toc-view > ul {
	padding-left: 0px;
	list-style: none;
}
div.toc-view li {
	margin-bottom: 20px;
}
div.toc-view > ul > li > a {
	display: inline-block;
}
div.toc-view h4, div.toc-view h5 {
	margin: 0px;
}
div.toc-view div.toc-item-thumbnail {
	height: 50px;
	width: 50px;
	float: left;
}
div.toc-view div.toc-item-text {
	padding-left: 60px;
}

div.form-error {
	height: 1em;
	color: red;
}

/* FONT VIEW */
div.font-view div.font-control {
	border: 1px solid #000;
	margin: 20px 10px;
	display: inline-block;
}
div.font-view div.font-control span {
	padding: 5px;
}
div.font-view div.font-control span.large {
	font-size: 3em;
}
div.font-view div.font-control span.small {
	font-size: 1em;
}

/* FIGURE VIEW */

#toolbar .figure-tray {
	position: static;
	overflow-x: auto;
	overflow-y: hidden;
}

#toolbar .figure-previews {
	display: none;
}

#toolbar .figure-browser .figure-tray {
	height: 180px;
	-webkit-overflow-scrolling: touch;	
}

#toolbar .figure-previews .figure-tray {
	height: 280px;
	-webkit-overflow-scrolling: touch;	
}


#toolbar .figure-browser .figure-reel {
	height: 150px;
}

#toolbar .figure-previews .figure-reel {
	height: 250px;
}


#toolbar .figure-nav {
	position: absolute;
	padding: 10px;
	cursor: pointer;	
	color: #52818C;
	font-size: 2em;
}

#toolbar .figure-nav.prev {
	top: 160px;
	left: 0px;
}

#toolbar .figure-nav.next {
	top: 160px;
	right: 0px;
}

#toolbar figure {
	float: left;
}

#toolbar figure {
	margin-left: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
}

#toolbar .thumbnail .figure-placeholder {
	width: 140px;
	height: 140px;
	border: 1px solid black;
	cursor: pointer;
}

#toolbar .preview .figure-placeholder {
	width: 320px;
	height: 240px;
	float: left;
	margin-right: 20px;
	border: 1px solid black;
	cursor: pointer;
}

#toolbar figcaption {
	padding-top: 0.2em;
	font-size: 0.9em;
	font-weight: bold;
	color: #52818C;
}

#toolbar figure.preview {
	display: none;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;		
}

#toolbar .back-to-grid {
	cursor: pointer;
	color: #52818C;
}

/* toolbar general styles */
#toolbar-content label{
	font-size:14px;
	line-height:28px;
}
#toolbar-content input[type='text'], #toolbar-content input[type='password'] {
	border-radius:14px;
	border:none;
	font-size:14px;	
	line-height:28px;
	padding-left:5px;padding-right:5px;
	-moz-box-shadow:    inset 0 1px 2px #666;
   -webkit-box-shadow: inset 0 1px 2px #666;
   box-shadow:         inset 0 1px 2px #666;
   
   height:28px; /* for firefox */
   
   
}
#toolbar-content input[type='text']:active, #toolbar-content input[type='password']:active,
#toolbar-content input[type='text']:focus, #toolbar-content input[type='password']:focus {
	outline:none!important;
	background-color:#eee;color:#000;

}

button {
	background:#52818C;
	color:#fff;
	border:none;
	border-radius:14px;
	font-size:14px;line-height:28px;
	text-transform:uppercase;	
	margin:0px;
	padding:0 10px;
}

/** MEDIA QUERIES **/

/* When less than 600px... */
@media (max-width:600px) {

	/*
	div.Figures-toolbar-item,
	div.Notes-toolbar-item {
		display: none;
	}
	*/

	#toolbar-handle {
		width: 100%;
		right: 0px;
	}

	#toolbar .figure-placeholder {
		width: 100px;
		height: 100px;
	}


}

