div#toolbar {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	max-height: 80%;
	min-height: 40px;
	overflow: hidden;
	font-family: sans-serif;

}
div#toolbar-content {
	position: absolute;
	bottom: 40px;
	left: 0px;
	background-color: #eee;
	width: 100%;
	padding: 0px 40px;
	overflow-y: auto;
	background: url('../img/bg-toolbar.gif') repeat;
}
#toolbar-handle {
	height: 40px;
	position: absolute;
	bottom: 0px;
	right: 40px;
	background: url('../img/bg-toolbar.gif') repeat;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
#toolbar-close {
	display: none;
	z-index: 10;
	position: absolute;
	top: 10px;right: 50px;
	padding: 0px;
	cursor: pointer;
	height:30px;width:30px;overflow:hidden;
	
	oveflow:hidden;text-indent:100%;white-space:nowrap;
	background: url('../img/bg-btn-close.png') no-repeat left top;
	opacity:.3;
}
#toolbar-close:hover {
	opacity:.7;cursor:pointer;	
}

#toolbar h2 {
	padding-bottom: 0.5em;
	border-bottom: 5px solid #8C8C8C;
}
div.toolbar-item {
	height: 35px;
	width: 50px;
	/*float: left;*/
	cursor: pointer;
	display:inline-block;
	top:0px;
	position:relative;
}
div.toolbar-item:after { 
	content:"";
	width:2px;height:35px!important;
	overflow:hidden;display:inline-block;
	white-space:nowrap;text-indent:100%;
	background: url('../img/bg-toolbar-divider.png') left center no-repeat;
	position:relative;
	margin:0px;padding:0px;
	vertical-align:middle;
	position:absolute;top:0px;
}
div.toolbar-item:first-child:after {
	display:none!important;	
}

div.Notes-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-notes.png') center center no-repeat;
}
div.Toc-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-toc.png') center center no-repeat;
}
div.Account-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-user.png') center center no-repeat;
}
div.Search-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-search.png') center center no-repeat;
}
div.Font-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-text.png') center center no-repeat;
}
div.Figures-toolbar-item {
	text-indent: 9999px;
	background: url('../img/icon-figure.png') center center no-repeat;
}

div.Notes-toolbar-item,
div.Toc-toolbar-item,
div.Account-toolbar-item,
div.Search-toolbar-item,
div.Font-toolbar-item, 
div.Figures-toolbar-item {
	opacity:.7;
}
div.Notes-toolbar-item:hover,
div.Toc-toolbar-item:hover,
div.Account-toolbar-item:hover,
div.Search-toolbar-item:hover,
div.Font-toolbar-item:hover, 
div.Figures-toolbar-item:hover {
	opacity:1;
}

/* TOC VIEW */
div.toc-view > ul {
	padding-left: 0px;
	list-style: none;
}
div.toc-view li {
	margin-bottom: 20px;
}
div.toc-view > ul > li > a {
	display: inline-block;
}
div.toc-view h4, div.toc-view h5 {
	margin: 0px;
}
div.toc-view div.toc-item-thumbnail {
	height: 50px;
	width: 50px;
	float: left;
}
div.toc-view div.toc-item-text {
	padding-left: 60px;
}

div.form-error {
	height: 1em;
	color: red;
}

/* FONT VIEW */
div.font-view div.font-control {
	border: 1px solid #000;
	margin: 20px 10px;
	display: inline-block;
}
div.font-view div.font-control span {
	padding: 5px;
}
div.font-view div.font-control span.large {
	font-size: 3em;
}
div.font-view div.font-control span.small {
	font-size: 1em;
}

/* FIGURE VIEW */

#toolbar .figure-tray {
	position: static;
	overflow-x: auto;
	overflow-y: hidden;
	height: 180px;
	-webkit-overflow-scrolling: touch;
}

#toolbar .figure-reel {
	height: 150px;
}

#toolbar .figure-nav {
	display: none;
	position: absolute;
	top: 10px;
	right: 0px;
	padding: 0px 40px;
	cursor: pointer;	
	color: #52818C;
	font-size: 2em;
}

#toolbar .figure-nav .prev {
	float: left;
}

#toolbar .figure-nav .next {
	float: right;
}

#toolbar figure {
	float: left;
}

#toolbar figure {
	margin-left: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
}

#toolbar .thumbnail .figure-placeholder {
	width: 140px;
	height: 140px;
	border: 1px solid black;
	cursor: pointer;
}

#toolbar .preview .figure-placeholder {
	width: 320px;
	height: 240px;
	float: left;
	margin-right: 20px;
	border: 1px solid black;
	cursor: pointer;
}

#toolbar figcaption {
	padding-top: 0.2em;
	font-size: 0.9em;
	font-weight: bold;
	color: #52818C;
}

#toolbar figure.preview {
	display: none;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;		
}

#toolbar .back-to-grid {
	cursor: pointer;
	color: #52818C;
}

/** MEDIA QUERIES **/

/* When less than 600px... */
@media (max-width:600px) {

	/*
	div.Figures-toolbar-item,
	div.Notes-toolbar-item {
		display: none;
	}
	*/

	#toolbar-handle {
		width: 100%;
		right: 0px;
	}

	#toolbar .figure-placeholder {
		width: 100px;
		height: 100px;
	}


}

