#toolbar {
	width: 100%;
	z-index: 100;
	position: absolute;
	top: -87px;
	left: 0px;
/*	height: 0;*/
	max-height: 80%;
	min-height: 40px;
/*	overflow: hidden;*/
	font-family:Arial, Helvetica, sans-serif;
/*	border-top:3px solid #ccc;*/
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
#toolbar-content-container {
/*	position: absolute;*/
	width: 100%;
/*	bottom: 0;*/
/*	height: 100%;*/
	margin-top: 40px;
	background: #eee url('../img/bg-toolbar.gif') repeat;
}
#toolbar-content {
/*	position: absolute;*/
/*	bottom: 0px;
	left: 0px;*/
	width: 100%;
	padding: 20px 20px;
	overflow: hidden;
	/*background: url('../img/bg-fold-shadow.png') center 98% no-repeat;*/

}
#toolbar-content:after {
	content: "";
	position: relative;
	bottom:7px;left:0px;right:10px;
	background: url('../img/bg-fold-shadow.png') no-repeat center top transparent;
	background-size: 100% 6px;
	height:6px;display:block;
	border-bottom:1px solid #e3e3e3;
	clear: both;
}

#toolbar-handle {
	height: 40px;
	position: absolute;
	bottom: -40px;
	right: 40px;
	background: url('../img/bg-toolbar.gif') repeat;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#toolbar-close {
	z-index: 10;
	position: absolute;
	top: 3px;
	right: 20px;
	padding: 0px;
	cursor: pointer;
	height:30px;
	width:30px;
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	background: url('../img/bg-btn-close.png') no-repeat left top;
	opacity:.2;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
#toolbar-close:hover {
	opacity:.7;cursor:pointer;
}
#toolbar-title-container {
	z-index: 9;
	position: absolute;
	top: 0;
	left: 0px;
	padding: 0 20px;
	width: 100%;
	pointer-events:none;
	background: #eee url('../img/bg-toolbar.gif') repeat;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
}
#toolbar h2 {
	margin: 6px 0 6px 0;
	border-bottom: 5px solid #8C8C8C;
}
#toolbar h3 {
	color: #444;
	margin: 0 0 10px 0;
}
div.toolbar-item {
	height: 35px;
	width: 50px;
	/*float: left;*/
	cursor: pointer;
	display:inline-block;
	top:0px;
	position:relative;
	overflow:hidden;
	text-indent: -9999px;
}
div.toolbar-item:after {
	content:"";
	width:2px;height:35px!important;
	overflow:hidden;display:block;
	white-space:nowrap;text-indent:100%;
	background: url('../img/bg-toolbar-divider.png') left center no-repeat;
	position:relative;
	margin:0px;padding:0px;
	vertical-align:middle;
	position:absolute;top:0px;
}
div.toolbar-item:first-child:after {
	display:none!important;
}

div.Notes-toolbar-item {

	background: url('../img/icon-notes.png') center center no-repeat;
}
div.Toc-toolbar-item {

	background: url('../img/icon-toc.png') center center no-repeat;
}
div.Account-toolbar-item {

	background: url('../img/icon-user.png') center center no-repeat;
}
div.Search-toolbar-item {

	background: url('../img/icon-search.png') center center no-repeat;
}
div.Font-toolbar-item {

	background: url('../img/icon-text.png') center center no-repeat;
}
div.Figures-toolbar-item {

	background: url('../img/icon-figure.png') center center no-repeat;
}

div.Notes-toolbar-item,
div.Toc-toolbar-item,
div.Account-toolbar-item,
div.Search-toolbar-item,
div.Font-toolbar-item,
div.Figures-toolbar-item {
	opacity:.7;
}
div.Notes-toolbar-item:hover,
div.Toc-toolbar-item:hover,
div.Account-toolbar-item:hover,
div.Search-toolbar-item:hover,
div.Font-toolbar-item:hover,
div.Figures-toolbar-item:hover {
	opacity:1;
}

/* TOC VIEW */
div.toc-view > ul {
	padding-left: 0px;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
div.toc-view li {
	margin-bottom: 16px;
}
div.toc-view > ul > li > a {
	display: block;
	text-decoration: none;
	color: #000;
	height: 50px;
}
div.toc-view h4, div.toc-view h5 {
	margin: 0px;
}
div.toc-view h5 {
	color: #8C8C8C
}
div.toc-view div.toc-item-thumbnail {
	height: 50px;
	width: 50px;
	float: left;
}
div.toc-view div.toc-item-text {
	padding: 6px 0 0 70px;
}
div.toc-view hr {
	margin: 16px 0 0 0;
}

div.form-error {
	height: 1em;
	color: red;
}

/* FONT VIEW */
div.font-view div.font-control {
	margin: 0 30px 30px 10px;
	display: inline-block;
}
/*div.font-view div.font-control a {
	height: 40px;
	width: 80px;
	border: 1px solid #8C8C8C;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	border-radius: 4px;
	margin: 0 10px 0 0;
}*/
div.font-view div.font-control a.larger {
	font-size: 12px;
	line-height:28px;
	height:28px; /* for firefox */
	font-weight:bold;
}
div.font-view div.font-control a.smaller {
	line-height:28px;
	height:28px; /* for firefox */
	font-size:12px;
	/*padding-top: 10px;*/
}

div.font-view div.theme-control {
	margin: 0 10px 30px 10px;
	display: inline-block;
}

/*
div.font-view div.theme-control a {
	height: 40px;
	width: 80px;
	border: 1px solid #8C8C8C;
	display: inline-block;
	text-align: center;
	vertical-align: bottom;
	text-decoration: none;
	border-radius: 4px;
	margin: 0 10px 0 0;
	padding: 12px 0 0 0;
}

div.font-view a:hover {
	background-color: #8C8C8C;
	color: #FFF;
}
*/



div.font-view div.font-control a,
div.font-view div.theme-control a {
	background-image: linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
	background-image: -o-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(189,207,211)),
		color-stop(0.9, rgb(255,255,255))
	);
	color:#52818C!important;
	border:1px solid #999;
	border-radius:4px;
	font-size:12px;
	line-height:28px;
	height:28px; /* for firefox */
	text-transform:uppercase;
	margin:0px;
	padding:0 20px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0px 1px 1px #e3e3e3;
	text-shadow:0px 1px 1px #D7E5EB;
	display:inline-block!important;
	text-decoration:none;
}
div.font-view div.font-control a:hover,
div.font-view div.theme-control a:hover {
	background-image: linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -o-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(159,185,191)),
		color-stop(0.9, rgb(237,242,243))
	);
	color:#333!important;
	cursor:pointer;
}
div.font-view div.font-control a:active,
div.font-view div.theme-control a:active {
	background-image: linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -o-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -moz-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -webkit-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
	background-image: -ms-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.05, rgb(159,185,191)),
		color-stop(0.9, rgb(237,242,243))
	);
	color:#333!important;
	cursor:pointer;
	border:1px solid #333;
}


/* FIGURE VIEW */

#toolbar .figures-view .view-fullscreen,
#toolbar .figures-view .view-in-context {
	cursor: pointer;
}

#toolbar .figure-tray {
	position: static;
	overflow-x: auto;
	overflow-y: hidden;
}

#toolbar .figure-previews {
	display: none;
}

#toolbar .figure-browser .figure-tray {
	height: 180px;
	-webkit-overflow-scrolling: touch;
}

#toolbar .figure-previews .figure-tray {
	height: 280px;
	-webkit-overflow-scrolling: touch;
	margin: 0 40px;
}


#toolbar .figure-browser .figure-reel {
	height: 160px;
}

#toolbar .figure-previews .figure-reel {
	height: 250px;
}


#toolbar .figure-nav {
	position: absolute;
	padding: 10px;
	cursor: pointer;
	color: #52818C;
	font-size: 2em;
}

#toolbar .figure-nav.prev {
	top: 160px;
	left: 0px;
}

#toolbar .figure-nav.next {
	top: 160px;
	right: 0px;
}

#toolbar figure {
	float: left;
}

#toolbar figure {
	margin-left: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
}

#toolbar .figure-thumbnail {
	width: 140px;
	height: 140px;
	cursor: pointer;
	-webkit-margin-end: 20px;
	background-position: center;
	background-size: cover;
	background-image: url('../img/osci-default-figure.png');
}

#toolbar .preview .figure-placeholder,
#toolbar .figure-preview {
	width: 240px;
	height: 240px;
	float: left;
	margin-right: 20px;
	cursor: pointer;
	background-position: center;
	background-size: cover;
	background: url('../img/osci-default-figure.png');
}

#toolbar figcaption {
	padding-top: 0.2em;
	font-size: 0.9em;
	font-weight: bold;
	color: #52818C;
}

#toolbar figure.preview {
	display: none;
	-webkit-margin-before: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

#toolbar .back-to-grid {
	cursor: pointer;
	color: #52818C;
}

/* toolbar general styles */
#toolbar-content .account-view label{
	/*font-size:14px;
	line-height:28px;*/
	display:none;
}
#toolbar-content input[type='text'], #toolbar-content input[type='password'] {
	border-radius:4px;
	border:1px solid #999;
	font-size:14px;
	line-height:28px;
	padding-left:5px;padding-right:5px;
	/*-moz-box-shadow:    inset 0 1px 2px #666;
   -webkit-box-shadow: inset 0 1px 2px #666;
   box-shadow:         inset 0 1px 2px #666;*/

   height:28px; /* for firefox */
   box-shadow: 0px 1px 1px #e3e3e3;

}
#toolbar-content input[type='text']:active, #toolbar-content input[type='password']:active,
#toolbar-content input[type='text']:focus, #toolbar-content input[type='password']:focus {
	outline:none!important;
	background-color:#eee;color:#000;
	border:1px solid #666;
}

button {
	background-image: linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
background-image: -o-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
background-image: -moz-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
background-image: -webkit-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);
background-image: -ms-linear-gradient(bottom, rgb(189,207,211) 5%, rgb(255,255,255) 90%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.05, rgb(189,207,211)),
	color-stop(0.9, rgb(255,255,255))
);
	color:#52818C!important;
	border:1px solid #999;
	border-radius:4px;
	font-size:12px;line-height:28px;
	height:28px; /* for firefox */
	text-transform:uppercase;
	margin:0px;
	padding:0 20px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0px 1px 1px #e3e3e3;
	text-shadow:0px 1px 1px #D7E5EB;
}
button:hover {
	background-image: linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -o-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -moz-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -webkit-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -ms-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.05, rgb(159,185,191)),
	color-stop(0.9, rgb(237,242,243))
);
	color:#333!important;
	cursor:pointer;
}
button:active {
	background-image: linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -o-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -moz-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -webkit-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);
background-image: -ms-linear-gradient(bottom, rgb(159,185,191) 5%, rgb(237,242,243) 90%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.05, rgb(159,185,191)),
	color-stop(0.9, rgb(237,242,243))
);
	color:#333!important;
	cursor:pointer;
	border:1px solid #333;
}

#toolbar-content .register {
	display:inline-block;margin-top:20px;
}

/** MEDIA QUERIES **/

/* When less than 600px... */
@media (max-width:600px) {

	/*
	div.Figures-toolbar-item,
	div.Notes-toolbar-item {
		display: none;
	}
	*/
	#toolbar {
		top: -57px;
	}

	#toolbar-handle {
		width: 100%;
		right: 0px;
		border-bottom-left-radius:0;
		border-bottom-right-radius:0;
	}

	#toolbar .figure-placeholder {
		width: 100px;
		height: 100px;
	}

	#toolbar-content {
		padding: 6px 20px;
	}
}

