.superscript {
    position: relative;
    top: -0.5em;
    font-size: 80%;
    text-decoration: none;
    padding-left: 3px;
    font-weight: bold;
}

.position-t {
    position: absolute;
    top: 0;
    left: 50%;
}

.position-b {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.position-tl {
    position: absolute;
    top: 0;
    left: 0;
}

.position-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.position-bl {
    position: absolute;
    bottom: 0;
    left: 0;
}

.position-br {
    position: absolute;
    bottom: 0;
    right: 0;
}

.position-p {
    position: absolute;
    width: 100%;
    height: 100%;
}
