<div class='figure-browser'>
	<h3>Figures</h3>
	<div class='figure-tray'>
		<div class='figure-reel'>
			<% _.each(figures, function(figure) { %>
				<figure class='thumbnail' data-figure-id="<%= figure.id %>">
					<% if (figure.thumbnail_url != undefined) { %>
						<img class='figure-thumbnail' src='<%= figure.thumbnail_url %>'/>
					<% } else { %>
						<div class='figure-thumbnail'>&nbsp;</div>
					<% } %>
					<figcaption><%= figure.title %></figcaption>
				</figure>
			<% }); %>
		</div>
	</div>
</div>
<div class='figure-previews'>
	<div class='figure-nav prev' title='Previous figure'>&lt;</div>
	<div class='figure-nav next' title='Next Figure'>&gt;</div>

	<h3><span class='back-to-grid'>&laquo; Figures</span> | <span class='title'>TITLE</span></h3>
	<div class='figure-tray'>
		<div class='figure-reel'>
			<% _.each(figures, function(figure) { %>
				<figure class='preview' data-figure-id="<%= figure.id %>">
					<% if (figure.thumbnail_url != undefined) { %>
						<img class='figure-preview' src='<%= figure.thumbnail_url %>'/>
					<% } else { %>
						<div class='figure-preview'>&nbsp;</div>
					<% } %>
					<div class='figure-info'>
						<!--<h3 class='title'>Figure Title?</h3>-->
						<!--<p class='meta-info'>meta info | more meta</p>-->
						<div class='caption'>
							<%= figure.caption %>
						</div>
					</div>
					<a class='view-fullscreen'>View fullscreen</a>
					<a class='view-in-context'>View in context</a>
				</figure>
			<% }); %>
		</div>
	</div>
</div>