<h2>Notes</h2>
<ul class="notesList">
	<% _.each(notes, function(note) { %>
		<li class="notesListItem">
			<p>
				<a href="#" 
					class="noteLink <% if (note.get('onCurrentPage')) { %>onCurrentPage<% } %>" 
					data-content_id="<%= note.get('content_id') %>">
					[NOTE_ICON]
				</a>
				<span>
					<small><%= note.get('note') %></small>
				</span>
				<div class="noteTags">
					<% if (note.get('tags').length > 0) { %>
						<small>tags: <% _.each(note.get('tags'), function(tag) { %><%= tag %> <% }); %></small>
					<% } %>
				</div>
			</p>
		</li>
	<% }); %>
</ul>