#osci_tk_viewer_wrapper p.osci_tk_paragraph {
    border-left: 2px solid transparent;
    padding: 0 0 0 4px;
}

#osci_tk_viewer_wrapper p.highlight-note {
    border-left: 2px solid #DDD;
}

a.highlight-note {
    background: #FFCC33;
}

.highlight-temp { 
    background-color: #ccc;
}

span.highlight {
    position: relative;
}

.highlight-hover .note-delete-link {
    position: absolute;
    display: inline;
    top: -20px;
    left: 0px;
}

.highlight {
    /*border-bottom: 2px dashed #FFCC33;*/
	background: url('../images/bg-highlight.png') repeat-x left bottom;
}

div#osci-note-dialog {
    display: none;
}

.cite-paragraph {
    /*border: 1px dashed #999;*/
    cursor: pointer;
}

#osci_tk_viewer a.cite-paragraph {
    color: #000 !important;
    opacity: 1 !important;
}

#osci_tk_viewer_wrapper p.cite-paragraph {
    border-left: 2px solid #DDD;
}

.osci-note-dialog {
    background-color: #fff;
    border: 1px;
    padding: 10px;
}

ul.selection-toolbar {
    position: absolute;
    background-color: #fff;
    display: none;
    padding: 10px !important;
}
ul.selection-toolbar li {
    display: inline;
}
ul.selection-toolbar li a {
    padding: 5px !important;
}

div.note {
    position: relative;
    top: -45px;
    left: -180px;
    /*padding: 10px;
    border: 1px solid #666;*/
    width: 300px;
    background-color: #FFB51A;
}

div.note div.links {
    float: right;
}

#edit-citation-options ul,
#edit-citation-options ul li,
div.note div.links ul,
div.note div.links ul li {
    display: inline;
}

#edit-citation-options {
    margin-bottom: 0;
}

#edit-citation-options label {
    width: auto !important;
    margin-right: 10px;
}

#edit-citation-options ul li.active {
    background-color: #999;
    padding: 5px;
}
#edit-citation-options ul li.active a {
    text-decoration: underline;
}

#edit-citation-url { width: 98%; }

#osci_tk_viewer_wrapper div.note ul.links li {
    margin-right: 6px;
}

#citation_text {
    border: 2px solid #999;
    padding: 10px;
    margin: 0 0 10px 0;
}

#citation_paragraph_text {
    height: 180px;
    overflow-y: scroll;
    border: 2px solid #999;
    padding: 10px;
}

#citation_paragraph_text_label {
    font-weight: bold;
}