.operations > li {
  list-style: none;
}

.theme-selector {
  padding-top: 20px;
}
.theme-selector .screenshot,
.theme-selector .no-screenshot {
  border: 1px solid #e0e0d8;
  padding: 2px;
  vertical-align: bottom;
  width: 294px;
  height: 219px;
  line-height: 219px;
  text-align: center;
}
.theme-default .screenshot {
  border: 1px solid #aaa;
  float: left;
}

.system-themes-list-enabled .theme-selector .screenshot,
.system-themes-list-enabled .theme-selector .no-screenshot {
  float: left; /* LTR */
  margin: 0 20px 0 0; /* LTR */
}
.system-themes-list-disabled .theme-selector .screenshot,
.system-themes-list-disabled .theme-selector .no-screenshot {
  width: 194px;
  height: 144px;
  line-height: 144px;
}
.theme-selector h3 {
  font-weight: normal;
}

.system-themes-list-enabled .theme-info {
  max-width: 940px;
}
.system-themes-list-disabled .theme-info {
  min-height: 170px;
}