.publication-metadata {
	text-align: center;
}

img {
	max-width: 90%;
}

.section.title {
	font-size: 2.0em;
	line-height: 1.2em;
	font-weight: bold;
	font-variant: small-caps;
}

.section-separator {
	border-bottom: 2px solid black;
}

figure {
	text-align: center;
}