#osci_viewer_wrapper .conservation-asset * {
    line-height: 100%;
}

#osci_viewer_wrapper .conservation-asset, div.conservation-asset {
	position: relative;
	width: 100%;
	height: 100%;
	line-height: 100%;
	background: #FFF;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	user-select: none;
}

#osci_viewer_wrapper .conservation-asset .ui-slider-handle, .conservation-asset .ui-slider-handle {
    outline: none;
}

#osci_viewer_wrapper .ca-ui-controlbar, .ca-ui-controlbar {
	position: absolute;
	bottom: 15px;
	right: 15px;
	height: 30px;
	background: #000;
	opacity: 0.75;
	margin: 0;
	border-radius: 5px;
    display: none;
}

#osci_viewer_wrapper .ca-ui-annotation, .ca-ui-annotation {
	padding: 5px 5px 5px 5px;
	float: right;
	width: 20px;
	height: 20px;
	background: url('../images/icon-annotation.png') center no-repeat;
	border-right: 1px solid #888;
}

#osci_viewer_wrapper .ca-ui-reset, .ca-ui-reset {
	padding: 5px 5px 5px 5px;
	float: right;
	width: 20px;
	height: 20px;
	background: url('../images/icon-reset.png') center no-repeat;
	border-right: 1px solid #888;
}

#osci_viewer_wrapper .ca-ui-fullscreen, .ca-ui-fullscreen {
	padding: 5px 5px 5px 5px;
	float: right;
	width: 20px;
	height: 20px;
}

#osci_viewer_wrapper .ca-ui-layer, .ca-ui-layer {
	padding: 5px 5px 5px 5px;
	float: right;
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	border-right: 1px solid #888;
}

#osci_viewer_wrapper .ca-ui-layer span, .ca-ui-layer span {
	display: inline-block;
	float: left;
	vertical-align: middle;
	text-align: center;
	padding: 4px 8px 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 20px;
}

#osci_viewer_wrapper .ca-ui-down-arrow, .ca-ui-down-arrow {
	background: url('../images/icon-down-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

#osci_viewer_wrapper .ca-ui-right-arrow, .ca-ui-right-arrow {
	background: url('../images/icon-right-arrow.png') center no-repeat;
	float: left;
	width: 16px;
	height: 16px;
	padding-top: 3px;
}

#osci_viewer_wrapper .ca-ui-fullscreen.collapsed, .ca-ui-fullscreen.collapsed {
	background: url('../images/icon-fullscreen.png') center no-repeat;
}

#osci_viewer_wrapper .ca-ui-fullscreen.expanded, .ca-ui-fullscreen.expanded {
	background: url('../images/icon-collapse.png') center no-repeat;
}

#osci_viewer_wrapper .ca-ui-zoom, .ca-ui-zoom {
	position: absolute;
	top: 15px;
	right: 15px;
	background: #000;
	opacity: 0.75;
	width: 20px;
	border-radius: 5px;
    display: none;
}

#osci_viewer_wrapper .ca-ui-zoom-in, .ca-ui-zoom-in {
	background: url('../images/icon-zoom-in.png') center no-repeat;
	width: 16px;
	height: 16px;
	padding: 0px 2px 3px 2px;
	border-bottom: 1px solid #888;
}

#osci_viewer_wrapper .ca-ui-zoom-slider, .ca-ui-zoom-slider {
	height: 75px;
	width: 5px;
	background: #444;
	margin: 10px auto;
}

#osci_viewer_wrapper .ca-ui-zoom-slider .ui-slider-handle, .ca-ui-zoom-slider .ui-slider-handle {
	width: 12px;
	height: 6px;
	background: #ccc;
	left: -4px;
	margin-bottom: -5px;
}

#osci_viewer_wrapper .ca-ui-zoom-out, .ca-ui-zoom-out {
	background: url('../images/icon-zoom-out.png') center no-repeat;
	width: 16px;
	height: 16px;
	padding: 3px 2px 0px 2px;
	border-top: 1px solid #888;
}

/* ViewFinder */

#osci_viewer_wrapper .ca-ui-viewfinder, .ca-ui-viewfinder {
	position: absolute;
	top: 15px;
	right: 40px;
    display: none;
}

#osci_viewer_wrapper .ca-ui-viewfinder.viewfinder-open, .ca-ui-viewfinder.viewfinder-open {
	width: 100px;
	background: transparent;
	height: 100px;
	border: 2px solid white;
	background: #000 url('../images/icon-viewfinder-small.png') bottom left no-repeat;
    overflow: hidden;
    box-shadow: 0 0 2px #000;
}

#osci_viewer_wrapper .ca-ui-viewfinder.viewfinder-closed, .ca-ui-viewfinder.viewfinder-closed {
	width: 20px;
	height: 16px;
	background: #000 url('../images/icon-viewfinder-big.png') center no-repeat;
	opacity: 0.75;
}

#osci_view_wrapper .ca-ui-viewfinderLayer, .ca-ui-viewfinderLayer {
	position: absolute;
	top: 0px;
	left: 0px;
}

#osci_view_wrapper .ca-ui-viewfinder-viewport, .ca-ui-viewfinder-viewport {
	position: absolute;
	border: 1px solid red;
}

#osci_viewer_wrapper .ca-ui-legend, .ca-ui-legend {
	position: absolute;
	top: 35px;
	right: 40px;
    background: #000;
    opacity: 0.75;
    color: #fff;
    border-radius: 5px;
    display: block;
}

#osci_viewer_wrapper .ca-ui-legend ul, .ca-ui-legend ul {
    list-style: none;
    margin: 0px !important;
	padding: 7px 7px 7px 7px !important;  
}

#osci_viewer_wrapper .ca-ui-legend li, .ca-ui-legend li {
    padding: 5px 0px 5px 0px !important;
}

#osci_viewer_wrapper .ca-ui-legend .item-box, .ca-ui-legend .item-box {
	float: left;
	height: 6px;
	width: 12px;
	margin-top: 2px;
    margin-right: 5px;
}

#osci_viewer_wrapper .ca-ui-fullscreen-modal, .ca-ui-fullscreen-modal {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9990;
    background: lightgray;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap, .ca-ui-fullscreen-wrap {
    position: absolute;
    top: 26px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    -moz-box-shadow: 0px 0px 5px 5px #000;
    -webkit-box-shadow: 0px 0px 5px 5px #000;
    box-shadow: 0px 0px 5px 5px #000;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap, .ca-ui-fullscreen-wrap {
	position: absolute;
	top: 26px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*-moz-box-shadow: 5px 5px 5px 5px #000;
    -webkit-box-shadow: 5px 5px 5px 5px #000;*/
    box-shadow: 0px 0px 5px 5px #000;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap figcaption, .ca-ui-fullscreen-wrap figcaption {
    background: #000;
    color: #DDD;
    padding: 5px;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap figcaption span, .ca-ui-fullscreen-wrap figcaption span {
    padding-left: 5px;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap figcaption span, .ca-ui-fullscreen-wrap figcaption p {
    display: inline;
    padding-left: 10px;
    padding-right: 20px;
}

#osci_viewer_wrapper .ca-ui-fullscreen-wrap figure, .ca-ui-fullscreen-wrap figure {
	margin: 0px;
}

#osci_viewer_wrapper .ca-ui-annotation-selector, .ca-ui-annotation-selector {
	position: absolute;
	background: #000;
	opacity: 0.75;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-list, .ca-ui-annotation-selector-list {
	list-style: none;
	margin: 0px !important;
	padding: 10px 10px 10px 10px !important;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-list li, .ca-ui-annotation-selector-list li {
	color: #fff;
	height: 15px;
	font-size: 12px;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-list li span, .ca-ui-annotation-selector-list li span {
	float: left;
	padding-left: 5px;
	text-align: center;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-list hr, .ca-ui-annotation-selector-list hr {
	border: 1px solid gray;
	height: 0px;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-item-box, .ca-ui-annotation-selector-item-box {
	float: left;
	height: 11px;
	width: 11px;
	border: 1px solid #fff;
	text-align: center;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-item-box.empty, .ca-ui-annotation-selector-item-box.empty {
	background-color: #000;
}

#osci_viewer_wrapper .ca-ui-annotation-selector-item-box.filled, .ca-ui-annotation-selector-item-box.filled {
	background-color: #fff;
}

#osci_viewer_wrapper .ca-ui-layer-selector-popup, .ca-ui-layer-selector-popup {
	position: absolute;
	background: #000;
	opacity: 0.75;
	margin: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#osci_viewer_wrapper .ca-ui-layer-selector-popup hr, .ca-ui-layer-selector-popup hr {
	border: 1px solid gray;
	height: 0px;
}

#osci_viewer_wrapper .ca-ui-layer-selector-popup ul, .ca-ui-layer-selector-popup ul {
	list-style: none;
	margin: 0px !important;
	padding: 10px 10px 10px 10px !important;
}

#osci_viewer_wrapper .ca-ui-layer-selector-popup li, .ca-ui-layer-selector-popup li {
	color: #fff;
	height: 15px;
	font-size: 11px;
}

#osci_viewer_wrapper .ca-ui-layer-selector-popup span, .ca-ui-layer-selector-popup span {
	float: left;
	padding-left: 5px;
	text-align: center;
}

#osci_viewer_wrapper .ca-ui-layer-slider-container, .ca-ui-layer-slider-container {
	padding: 11px 12px 12px;
	float: right;
	min-width: 50px;
    max-width: 100px;
	border-right: 1px solid #888;
}

#osci_viewer_wrapper .ca-ui-layer-slider, .ca-ui-layer-slider {
	height: 5px;
	min-width: 25px;
    max-width: 50px;
	background: #444;
}

#osci_viewer_wrapper .ca-ui-layer-slider .ui-slider-handle, .ca-ui-layer-slider .ui-slider-handle {
	width: 7px;
	height: 12px;
	background: #ccc;
	margin-top: -1px;
    margin-left: -4px;
}

/* for ca node edit form */
.ca-edit-color {
    float:left;
    margin-left: 10px;
    height: 12px;
    width: 40px;
    font-size: 10px;
    border: 1px solid #888;
}

div[class$="annotation-flag"] {
    float:left;
}

.thumbContainer {
	
}

.thumbContainer img {
    padding: 5px 0px;
}

img.image_opaque { 
	filter: alpha(opacity=50) !important;
    -moz-opacity: 0.50 !important; 
    opacity: 0.50 !important;
}
