body {
    width: 100%;
    overflow: hidden;
    padding: 0px !important;
}

#osci_viewer_wrapper * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 150%;
}

#osci_viewer_wrapper p {
    margin: 0 0 1em;
}

#osci_viewer_wrapper h1 {
    margin: 0 0 1em;
    border-bottom: 2px solid #444;
}

#osci_viewer_wrapper h2 {
    margin: 0 0 1em;
    width: 100%;
    border-bottom: 1px solid #CCC;
    font-weight: bold;
}

#osci_viewer_wrapper h3 {
    margin: 0 0 .5em;
    width: 100%;
    font-size: 1.1em;
    font-weight: bold;
}


#osci_viewer_wrapper {
    background: #FFF;
}

#osci_viewer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#osci_viewer #osci_pages {
    position: relative;
/*    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);*/
/*    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);*/
/*    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); */
}

#osci_viewer .osci_page {
    position: absolute;
    /* -webkit-box-shadow: #444 0px 2px 5px;
    background: #FFF;
    /*
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0, 0, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 1); 
    */
    overflow: hidden;
    
}

#osci_viewer .column {
    display: inline;
    position: absolute;
    overflow: hidden;
    top: 0;
    text-align: justify;
}

#osci_viewer_wrapper span.footnote_number {
    float: left;
    font-weight: bold;
    padding: 0 4px 0;
}

#osci_viewer figure {
    position: absolute;
    overflow: hidden;
    margin: 0px;
}

#osci_viewer figure .figureContent {
    overflow: hidden;
}

#osci_viewer figure figcaption {
    display: block;
    color: #AAA;
    font-size: .8em;
}

#osci_viewer figure figcaption p {
    display: inline;
    margin: 0;
}

#osci_viewer figure figcaption .figure_number {
    color: #777;
    margin: 0 6px 0 0;
}

#osci_viewer a.osci_paragraph_identifier {
    position: absolute;
    color: #BBB;
    text-align: right;
}

.browser_warning {
    width: 100%;
    text-align: center;
    font-size: 100%;
    color: white;
    background-color: lightCoral;
}